<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/wiwin.jpg" alt="gambar" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Wiwin Savitri</h1>
            <p class="lead">Programmer | Internet Marketing</p>
        </div>
    </div>
</div>