<h2>Form Tambah Data Kontak</h2>

<% if (typeof errors != 'undefined') { %>
    <div>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %> </li>
            <% }) %>
        </ul>
    </div>
<% } %>

<form action="/contact" method="post">
    <label for="name">Nama</label>
    <input type="text" name="nama" id="nama" required>
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="nohp">No Hp</label>
    <input type="text" name="nohp" id="nohp" required>
    <br>
    <input type="submit" value="Tambah Kontak">
</form>